<router-outlet>
    <div class="container">
        <button routerLink="">Назад</button>
        <h1>Запись "{{ content.title }}"</h1>
        <form action="#">
            <input type="text" [formControl]="titleControl">
            <textarea name="" id="" cols="30" rows="10" [formControl]="contentControl"></textarea>
            <button class="delete" (click)="deletePost()">Удалить</button>
            <button class="save" (click)="savePost()">Сохранить</button>
        </form>
    </div>
</router-outlet>
